<div class="container">
    <br/>
    <div class="row justify-content-center">
        <div class="col-12 col-md-10 col-lg-8">
            <form class="card card-sm">
                <div class="card-header">
                    <label for="password" class="h4 text-muted">Password</label>
                </div>
                <div class="card-body row no-gutters align-items-center">
                    <div class="col-auto">
                        <fa-icon [icon]="faKey" class=" h4 text-muted"></fa-icon>
                    </div>
                    <div class="col">
                        <input class="form-control form-control-lg form-control-borderless" type="password"
                               [(ngModel)]="password" name="password"
                               id="password" placeholder="Enter quiz password" required>
                    </div>
                    <div class="w-100 d-block d-sm-none"></div>
                    <div class="col-auto">
                        <button class="btn btn-lg btn-primary" type="submit"
                                (click)="submit()">Next
                            <fa-icon [icon]="faArrowRight" class="ml-3"></fa-icon>
                        </button>
                    </div>
                </div>
            </form>
            <div *ngIf="isError" class="text-danger">Wrong password</div>
            <small class="text-muted">Test won't start after clicking next</small>
        </div>
    </div>
</div>
