<div *ngIf="quiz">
    <fa-icon class="fa-1x text-info align-middle" [icon]="'arrow-left'"></fa-icon>
    <a class="text-info align-middle" [routerLink]="['/quiz-manager']">
        {{quiz.name}}
    </a>
</div>
<div *ngIf="taskSets && taskSets.length; else noAvaliableTaskSet">
    <div id="page-heading">
        <h3>
            <small class="text-muted">Task set list for quiz {{quiz.name}}</small>

            <button [id]="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-quiz"
                    [routerLink]="['/quiz-manager/new']">
            <span>
                Create new task set
            </span>
            </button>
        </h3>
    </div>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="quiz-information-container">
        <div class="row">
            <div class="col">
                <span class="font-weight-light">Quiz information:</span>
            </div>
        </div>
        <div class="row">
            <div class="col-md-offset-2 col-md-2">
                Start date<br>
                {{quiz.startDate | date: 'short'}}
            </div>
            <div class="col-md-2">
                End date<br>
                {{quiz.endDate | date: 'short'}}
            </div>
            <div class="col-md-2">
                Time length<br>
                {{quiz.maxTimeInMinutes}} minutes
            </div>
            <div class="col-md-2">
                Task sets number<br>
                {{taskSets.length}}
            </div>
        </div>
    </div>

    <div class="list-group" *ngIf="taskSets">
        <div href="#" class="list-group-item list-group-item-action align-items-start container-fluid form-group"
             *ngFor="let taskSet of taskSets ;trackBy: trackId">
            <div class="row">
                <div class="col col-md">
                    <div class="text-justify display-4">
                        {{taskSet.name}}
                    </div>
                </div>
                <div class="col col-md align-self-center">
                    <button class="btn btn-info float-right"
                            [routerLink]="['/quiz-manager', quiz.id, 'task-set', taskSet.id, 'task']">
                        <span>Go to task sets</span>
                    </button>
                </div>
            </div>
            <div class="row">
                <div class="col col-md align-self-center">
                    <h4>
                        <span>Edition {{quiz.edition}}</span>
                    </h4>
                </div>
                <div class="col col-md align-self-center">
                    <h4><span>Start date: </span>
                        <small class="text-muted">{{quiz.startDate | date: 'medium'}}</small>
                    </h4>
                </div>
                <div class="col col-md align-self-center">
                    <h4><span>End date: </span>
                        <small class="text-muted">{{quiz.endDate | date: 'medium'}}</small>
                    </h4>
                </div>
                <div class="col col-md">
                    One of three columns
                </div>
            </div>
            <div class="row">
                <div class="col-md">

                </div>
                <div class="col-md">
                    One of three columns
                </div>
                <div class="col-md">
                    One of three columns
                </div>
                <div class="col-md">
                    One of three columns
                </div>
            </div>
            <div class="row">
                <div class="col col-md align-self-center">
                    <button class="btn btn-outline-primary btn-fixed-width" [routerLink]="['/quiz-manager/new']">
                        <span>Check results</span>
                    </button>
                </div>
                <div class="col col-md align-self-center">
                    <button class="btn btn-outline-primary btn-fixed-width" [routerLink]="['/quiz-manager/new']">
                        <span>Edit</span>
                    </button>
                </div>
                <div class="col col-md align-self-center">
                    <button class="btn btn-outline-primary btn-fixed-width" [routerLink]="['/quiz-manager/new']">
                        <span>Publish</span>
                    </button>
                </div>
                <div class="col col-md align-self-center">
                    <button class="btn btn-outline-primary btn-fixed-width" [routerLink]="['/quiz-manager/new']">
                        <span>Copy</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div *ngIf="quizzes && quizzes.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5"
                            [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5"
                            [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>

<ng-template #noAvaliableTaskSet>
    <div class="grid">
        <div class="row d-flex justify-content-center ">
            <span class="display-4">You don't have any task set for your quiz.</span>
        </div>
        <div class="row d-flex justify-content-center">
            <span>Click button below and create a new one!</span>
        </div>
        <div class="row d-flex justify-content-center">
            <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-quiz"
                    [routerLink]="['/quiz-manager/new']">
            <span>
                Create new task set
            </span>
            </button>
        </div>
    </div>
</ng-template>
