<p>
    quiz-list works!
</p>
<a class="nav-link" routerLink="/quiz-manager/1/task-set-list"><span>Quiz manager</span> </a>


<div>
    <h2 id="page-heading">
        <span>Quizzes</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-quiz"
                [routerLink]="['/quiz/new']">
            <span>
                Create new Quiz
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <!--<div class="d-flex w-100 justify-content-between">-->
    <!--<h5 class="mb-1">List group item heading</h5>-->
    <!--</div>-->
    <div href="#" class="list-group-item list-group-item-action flex-column align-items-start">
        <div class="row">
            <div class="col-sm">
                One of three columns
            </div>
            <div class="col-sm">
                One of three columns
            </div>
            <div class="col-sm">
                One of three columns
            </div>
            <div class="col-sm">
                One of three columns
            </div>
        </div>
    </div>

    <div href="#" class="list-group-item list-group-item-action flex-column align-items-start">
        <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">List group item heading</h5>
            <small class="text-muted">3 days ago</small>
        </div>
        <p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius
            blandit.</p>
        <small class="text-muted">Donec id elit non mi porta.</small>
    </div>
    <div href="#" class="list-group-item list-group-item-action flex-column align-items-start">
        <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">List group item heading</h5>
            <small class="text-muted">3 days ago</small>
        </div>
        <p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius
            blandit.</p>
        <small class="text-muted">Donec id elit non mi porta.</small>
    </div>


    <div class="table-responsive" *ngIf="quizzes">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
                <th jhiSortBy="id"><span>ID</span>
                    <fa-icon [icon]="'sort'"></fa-icon>
                </th>
                <th jhiSortBy="name"><span>Name</span>
                    <fa-icon [icon]="'sort'"></fa-icon>
                </th>
                <th jhiSortBy="startDate"><span>Start Date</span>
                    <fa-icon [icon]="'sort'"></fa-icon>
                </th>
                <th jhiSortBy="endDate"><span>End Date</span>
                    <fa-icon [icon]="'sort'"></fa-icon>
                </th>
                <th jhiSortBy="password"><span>Password</span>
                    <fa-icon [icon]="'sort'"></fa-icon>
                </th>
                <th jhiSortBy="edition"><span>Edition</span>
                    <fa-icon [icon]="'sort'"></fa-icon>
                </th>
                <th jhiSortBy="url"><span>Url</span>
                    <fa-icon [icon]="'sort'"></fa-icon>
                </th>
                <th jhiSortBy="maxTimeInMinutes"><span>Max Time In Minutes</span>
                    <fa-icon [icon]="'sort'"></fa-icon>
                </th>
                <th jhiSortBy="ownerId"><span>Owner</span>
                    <fa-icon [icon]="'sort'"></fa-icon>
                </th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let quiz of quizzes ;trackBy: trackId">
                <td><a [routerLink]="['/quiz', quiz.id, 'view' ]">{{quiz.id}}</a></td>
                <td>{{quiz.name}}</td>
                <td>{{quiz.startDate | date:'medium'}}</td>
                <td>{{quiz.endDate | date:'medium'}}</td>
                <td>{{quiz.password}}</td>
                <td>{{quiz.edition}}</td>
                <td>{{quiz.url}}</td>
                <td>{{quiz.maxTimeInMinutes}}</td>
                <td>
                    {{quiz.ownerId}}
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/quiz-manager', quiz.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/quiz-manager', quiz.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'quiz-manager/'+ quiz.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="quizzes">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5"
                            [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5"
                            [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
