<div *ngIf="quizzes">
    <div *ngIf="quizzes.length; else noAvaliableQuiz">
        <h2 id="page-heading" class="display-4">
            <span>Your Quizzes</span>
            <button [id]="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-quiz"
                    [routerLink]="['/quiz-manager/new']">
                <fa-icon [icon]="'plus'"></fa-icon>
                <span>
                Create new Quiz
            </span>
            </button>
        </h2>
        <jhi-alert></jhi-alert>
        <br/>
        <div class="list-group">
            <div href="#" class="list-group-item list-group-item-action align-items-start container-fluid form-group"
                 *ngFor="let quiz of quizzes ;trackBy: trackId" [id]="'quiz-manager-quiz-' + quiz.id">
                <div class="row">
                    <div class="col-auto mr-auto">
                        <div class="display-4">
                            {{quiz.name}}
                        </div>
                    </div>
                    <div class="col-auto align-self-center">
                        <button class="btn btn-info float-right" [routerLink]="['/quiz-manager', quiz.id, 'task-set']">
                            <span>Go to task sets</span>
                        </button>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xl-3 col-md align-self-center">
                        <h6>
                            <span>Edition:</span>
                            <span class="text-muted">{{quiz.edition}}</span>
                        </h6>
                    </div>
                    <div class="col-xl-3 col-md align-self-center">
                        <h6><span>Start date: </span>
                            <span class="text-muted">{{quiz.startDate | date: 'dd.MM.yy, HH:mm'}}</span>
                        </h6>
                    </div>
                    <div class="col-xl-3 col-md align-self-center mr-auto">
                        <h6><span>End date: </span>
                            <span class="text-muted">{{quiz.endDate | date: 'dd.MM.yy, HH:mm'}}</span>
                        </h6>
                    </div>
                    <div class="col-xl-3 col-md">
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'quiz-manager/'+ quiz.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm float-right">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xl-3 col-md">
                        <h6><span>Resolved quizzes: </span>
                            <span class="text-muted">{{ quiz.resolvedNumber }}</span>
                        </h6>
                    </div>
                    <div class="col-xl-3 col-md">
                        <h6><span>Number of task sets: </span>
                            <span class="text-muted">{{ quiz.taskSetNumber }}</span>
                        </h6>
                    </div>
                    <div class="col-xl-3 col-md">
                        <h6><span>Quiz length: </span>
                            <span class="text-muted">{{quiz.maxTimeInMinutes}} minutes</span>
                        </h6>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xl-3 col-md align-self-center">
                        <button class="btn btn-outline-primary btn-fixed-width" [disabled]="!quiz.students"
                                [routerLink]="['#']">
                            <span>Check results</span>
                        </button>
                    </div>
                    <div class="col-xl-3 col-md align-self-center">
                        <button class="btn btn-outline-primary btn-fixed-width" (click)="newEdition(quiz.id)">
                            <span>New edition</span>
                        </button>
                    </div>
                    <div class="col-xl-3 col-md align-self-center">
                        <button class="btn btn-outline-primary btn-fixed-width"
                                [routerLink]="['/quiz-manager',quiz.id,'edit']">
                            <span>Edit</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div *ngIf="quizzes && quizzes.length">
            <div class="row justify-content-center">
                <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5"
                                [itemsPerPage]="itemsPerPage"></jhi-item-count>
            </div>
            <div class="row justify-content-center">
                <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5"
                                [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
            </div>
        </div>
</div>
</div>
<ng-template #noAvaliableQuiz>
    <div class="grid">
        <div class="row d-flex justify-content-center ">
            <span class="display-4">You don't have any quizzes yet.</span>
        </div>
        <div class="row d-flex justify-content-center">
            <span>Click button below and create a new one!</span>
        </div>
        <div class="row d-flex justify-content-center">
            <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-quiz"
                    [routerLink]="['/quiz-manager/new']">
            <span>
                Create new Quiz
            </span>
            </button>
        </div>
    </div>
</ng-template>
