<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-task-set-heading">Create or edit a Task Set</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!taskSet.id">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                           [(ngModel)]="taskSet.id" readonly/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_name">Name</label>
                    <input type="text" class="form-control" name="name" id="field_name"
                           [(ngModel)]="taskSet.name"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_requiredTaskAmount">Required Task Amount</label>
                    <input type="number" class="form-control" name="requiredTaskAmount" id="field_requiredTaskAmount"
                           [(ngModel)]="taskSet.requiredTaskAmount" required min="0" jhiMin="0"/>
                    <div
                        [hidden]="!(editForm.controls.requiredTaskAmount?.dirty && editForm.controls.requiredTaskAmount?.invalid)">
                        <small class="form-text text-danger"
                               [hidden]="!editForm.controls.requiredTaskAmount?.errors?.required">
                            This field is required.
                        </small>
                        <small class="form-text text-danger"
                               [hidden]="!editForm.controls.requiredTaskAmount?.errors?.min">
                            This field should be at least 0.
                        </small>
                        <small class="form-text text-danger"
                               [hidden]="!editForm.controls.requiredTaskAmount?.errors?.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_maxPoint">Max Point</label>
                    <input type="number" class="form-control" name="maxPoint" id="field_maxPoint"
                           [(ngModel)]="taskSet.maxPoint" required min="0" jhiMin="0"/>
                    <div [hidden]="!(editForm.controls.maxPoint?.dirty && editForm.controls.maxPoint?.invalid)">
                        <small class="form-text text-danger"
                               [hidden]="!editForm.controls.maxPoint?.errors?.required">
                            This field is required.
                        </small>
                        <small class="form-text text-danger"
                               [hidden]="!editForm.controls.maxPoint?.errors?.min">
                            This field should be at least 0.
                        </small>
                        <small class="form-text text-danger"
                               [hidden]="!editForm.controls.maxPoint?.errors?.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_artificialSelection">Artificial Selection</label>
                    <input type="checkbox" class="form-control" name="artificialSelection"
                           id="field_artificialSelection"
                           [(ngModel)]="taskSet.artificialSelection"/>
                    <div
                        [hidden]="!(editForm.controls.artificialSelection?.dirty && editForm.controls.artificialSelection?.invalid)">
                        <small class="form-text text-danger"
                               [hidden]="!editForm.controls.artificialSelection?.errors?.required">
                            This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group" hidden>
                    <label class="form-control-label" for="field_quiz">Quiz</label>
                    <input class="form-control" id="field_quiz" name="quiz" [(ngModel)]="taskSet.quizId" required>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span>Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving"
                        class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span>Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
