<div class="d-flex">
    <h1 class="display-4  mx-auto">Welcome on EQuiz
        <fa-icon [icon]="faFeatherAlt"></fa-icon>
    </h1>
    </div>
<div class="d-flex">
    <span class="lead mx-auto">Advanced knowledge testing platform</span>
</div>
<div class="row d-flex justify-content-around mt-5">
    <button class="btn btn-primary">
        <fa-icon [icon]="faSearch"></fa-icon>
        Search for quizzes
    </button>
    <button class="btn btn-success">
        <fa-icon [icon]="faEdit"></fa-icon>
        Create your own quiz
    </button>
</div>

